<!DOCTYPE html>
<html>
<head>
    <title>Pok&eacute;stats</title>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="js/jquery.sparkline.min.js"></script>

    <script type="text/javascript">
$(document).ready(function(){
    $('#pokemon').dataTable({
        aaSorting: [],
        bPaginate: false,
        bFilter: false
    });
    {% for key in breakdowns.keys() %}
        $('#{{ key }} .boxchart')
            .css('visibility', 'visible')
            .sparkline('html', {
                type: 'box',
                width: '60em',
                height: '1em',
                chartRangeMin: 0,
                chartRangeMax: {{ scale_maxes[key] }},
                outlierFillColor: '#ccc'
            });
    {% endfor %}
    
    $('#megachart span').sparkline('html', { type: 'line', height: '20em', chartRangeMax: 1000, chartRangeClip: true, defaultPixelsPerValue: 2 });
});
</script>
<style>

body {
    padding-top: 40px;
}
.ratios {
    width: 250px;
    height: 18px;
    border: 0;
}

.ratios div {
    display: inline-block;
    float: left;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: white;
}


</style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav pull-left">
                <li><a href="#start">Pok&eacute;stats!</a></li>
            </ul>
            <div class="container">
                    
                <ul class="nav">
                    <li><a href="#chart_type">By Type</a></li>
                    <li><a href="#chart_generation">By Generation</a></li>
                    <li><a href="#chart_stage">By Evolution Stage</a></li>
                    <li><a href="#chart_stat_percentile">By Stat Percentile</a></li>
                    
                    <li class="divider-vertical"></li>
                    
                    <li><a href="#pokemon_data">Details</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#faq">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="start"></div>

    <div class="hero-unit alert information" style="background-color: #D9EDF7; border-color: #BCE8F1; color: #3A87AD;">
        <h1 style="text-align: center">Pok&eacute;stats!</h1>
        <h3 style="text-align: center">There's <i>how much</i> of <i>WHAT</i> on the Internet?</h3>
    </div>
{% macro score(value) %}{{ value|int }}{% endmacro %}

{% macro breakdown(key, table_name, column_header) -%}
    <div id="chart_{{ key }}" class="page-header"><h2>{{ table_name }}</h2></div>
    <div class="row">
        <div class="span10 offset2">
            <table id="{{ key }}" class="table table-condensed">
            <thead>
                <tr>
                    <th>Median Result</th>
                    <th>Low Result</th>
                    <th>High Result</th>
                    <th>{{ column_header }}</th>
                    <th>Distribution</th>
                </tr>
            </thead>
            <tbody>
            {% for median_count, counts, key in breakdowns[key] %}
                <tr>
                    <td>{{ score(median_count) }}</td>
                    <td>{{ score(min(counts)) }}</td>
                    <td>{{ score(max(counts)) }}</td>
                    <td>{{ key }}</td>
                    <td><span class="boxchart" style="visibility: hidden">{{ counts|join(',') }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{{ breakdown('type', 'By Type', 'Type') }}
{{ breakdown('generation', 'By Generation', 'Generation') }}
{{ breakdown('stage', 'By Evolution Stage', 'Stage') }}
{{ breakdown('stat_percentile', 'By Stat Percentile', 'Percentile') }}

    <div class="page-header">
        <h3>Everything, as a line chart</h3>
    </div>
    <div class="row">
        <div id="megachart" class="span8 offset2">
            <span>{{interest_list|join(',')}}</span>
        </div>
    </div>

    <div class="page-header" id="pokemon_data">
        <h2>Pokemon</h2>
    </div>
    <div class="row">
        <div class="span11 offset1">
            <table id="pokemon" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Total Results</th>
                        <th>e621.net</th>
                        <th>wildcritters.ws</th>
                        <th>rule34.xxx</th>
                        <th>Generation</th>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Type1</th>
                        <th>Type2</th>
                        <th>Stage</th>
                        <th>Sexuality Ratios</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td>{{ score(row.interest_score) }}</td>
                        <td><a href="{{ sites.e621.get_url(row.name) }}">{{ sites.e621.pokemon_counts[row.number] }}</a></td>
                        <td><a href="{{ sites.wildcritters.get_url(row.name) }}">{{ sites.wildcritters.pokemon_counts[row.number] }}</a></td>
                        <td><a href="{{ sites.rule34.get_url(row.name) }}">{{ sites.rule34.pokemon_counts[row.number] }}</a></td>
                        <td>{{ row.generation }}</td>
                        <td>#{{ row.number }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.type1 }}</td>
                        <td>{{ row.type2 }}</td>
                        <td>{{ row.stage }}</td>
                        <td>
                            <div class="ratios">
                            {% if row.ratios.unknown / row.ratios.all_size < 0.8 and row.ratios.all_size > 50 %}
                                <div
                                    title="Bisexual/Group: {{ row.ratios.group }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.group / row.ratios.total_size}}%; background-color: #c07;">B</div>
                                <div 
                                    title="Ambiguous/Intersex/Herm: {{ row.ratios.ambiguous }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.ambiguous / row.ratios.total_size}}%; background-color: #902;">?</div>

                                <div 
                                    title="Gay: {{ row.ratios.gay }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.gay / row.ratios.total_size}}%; background-color: #F70;">G</div>
                                <div 
                                    title="Male (inferred): {{ row.ratios.weakmale }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.weakmale / row.ratios.total_size}}%; background-color: #FA0;">m</div>
                                <div 
                                    title="Male: {{ row.ratios.male }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.male / row.ratios.total_size}}%; background-color: #FD0;">M</div>

                                <div 
                                    title="Straight (inferred): {{ row.ratios.weakstraight }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.weakstraight / row.ratios.total_size}}%; background-color: #9E0;">s</div>
                                <div 
                                    title="Straight: {{ row.ratios.straight }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.straight / row.ratios.total_size}}%; background-color: #0c0;">S</div>

                                <div 
                                    title="Female: {{ row.ratios.female }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.female / row.ratios.total_size}}%; background-color: #14A;">F</div>
                                <div 
                                    title="Female (inferred): {{ row.ratios.weakfemale }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.weakfemale / row.ratios.total_size}}%; background-color: #31A;">f</div>
                                <div 
                                    title="Lesbian: {{ row.ratios.lesbian }} Results (of {{ row.ratios.all_size|int }})"
                                    style="width: {{ row.ratios.lesbian / row.ratios.total_size}}%; background-color: #71A;">L</div>
                                
                                <div 
                                    title="Unknown: {{ row.ratios.unknown }} Results (of {{ row.ratios.all_size|int }})"
                                    style="clear: left; height: 6px; font-size: 6px; width: {{ row.ratios.unknown / row.ratios.all_size * 100}}%; background-color: #666;"></div>
                            {% else %}
                                Insufficient data.
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="page-header" id="faq">
        <h3>FAQ</h3>
    </div>

{% macro faq(title) -%}
    <div class="row" style="margin-top: 2em">
        <div class="span8 offset1">
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span8 offset1">
        {{ caller() }}
        </div>
    </div>
{%- endmacro %}

    {% call faq('Dear God, WHY?') %}
       <p>
            Because <em>data is delicious.</em>
        </p>
    {% endcall %}

    {% call faq('How did you do this?') %}
       <p>
            It's all done in Python.<br>
            A little script fetches all the data from the sites, results are parsed out, and a page is generated.
            The source is even <a href="https://github.com/interrostat/pokestats">on Github</a> for your perusal.
            I'd like to provide specific thanks to <a href="https://github.com/veekun/pokedex">veekun/pokedex</a>, for having such handy data files,
            and <a href="http://jinja.pocoo.org/docs/">jinja2</a>, for making templating easy
        </p>
    {% endcall %}

    {% call faq('Can I help? / Hey, I run one of these sites!') %}
       <p>
            Awesome! (Yes, I'm totally hoping this will make the rounds all the way to an admin)<br>
            I'm trying not to hammer anybody's site; One search request is made per pokemon, one at a time. At the scale of those sites, that's nothing.
        </p>
        <p>
            But there's some data I'd love to collect that I can't this way.
        </p>
        <p>
            If I could easily get the image md5-names for each pokemon, I could deduplicate the results between sites.
            Even better, if I could get the tags for each image, there could be breakdowns on tag relationships. Wouldn't it be great to see charts of "% Male, % Gay, % Straight, % Lesbian, % Female, % Group / Other", both overall and for each pokemon?
        </p>
        <p>
            I sure think it would be.
        </p>
    {% endcall %}

    {% call faq('Why did you choose these sites?') %}
       <p>
            They're the biggest sites I could easily query.
        </p>
        <p>
            I sure think it would be.
        </p>
    {% endcall %}

    <div class="page-header" id="about">
        <h3>About</h3>
    </div>
    <div class="row">
        <div class="span11 offset1">
            <p>
                This site was built by Interrostat.
                <address>
                    <strong>Twitter</strong>
                    <a href="https://twitter.com/interrostat">@interrostat</a><br>
                    <strong>Github</strong>
                    <a href="https://github.com/interrostat">interrostat</a>
                </address>
            </p>
        </div>
    </div>
</body>
</html>
