{% extends "base.template" %}
{% block content %}
<div class="row-fluid offset1">
    <div class="span8">
        <p>
            There's a lot of porn on the internet. Some of that porn goes to sites that ritually tag it with huge amounts of
            metadata. And while many people use those tags to help find exactly the thing that floats their boat, that's not the
            only thing you can do with metadata.
            <br>
            <br>
            <h4>You can <i>make charts with it</i>.</h4>
            <br>
            <br>
            And that's exactly what's been done here. The world of My Little Pony: Friendship Is Magic has a multitude of characters and an extremely active fan community.
        </p>
        <p>
            So let's start charting. Perhaps take a look at who's the most popular - and least popular - of <a href="charts.html#mane-six">The Mane Six</a>.
        </p>
        <p>
            This method also reveals the relative sexuality of Pony porn - so if you've ever wondered who <a href="breakdowns.html#most-gay">the gayest pony</a> was?, now you can find out!
        </p>
        <p>
            Or perhaps you're more interested in <a href="breakdowns.html#most-bisexual">who gets into the most orgies</a>, or what <a href="breakdowns.html#top-pairings">the most popular pairings are</a>?
        </p>
        <p>
            It's all here! If you want to know more, check out the <a href="faq.html">FAQ</a>.
        </p>
    </div>
    <div class="span2 hero-unit" style="background-color: #D9EDF7; border-color: #BCE8F1; color: #3A87AD; text-align: center">
        <h3>More interested in Pok&eacute;mon?</h3><br>
        <a href="/pokemon/index.html">Check out the Pok&eacute;stats</a>!
    </div>
</div>
{% endblock %}
