{% extends "base.template" %}
{% block content %}
<div class="row-fluid offset1">
    <div class="span8">
        <p>
            There's a lot of porn on the internet. Some of that porn goes to sites that ritually tag it with huge amounts of
            metadata. And while many people use those tags to help find exactly the thing that floats their boat, that's not the
            only thing you can do with metadata.
            <br>
            <br>
            <h4>You can <i>make charts with it</i>.</h4>
            <br>
            <br>
            And that's exactly what's been done here. The world of Pok&eacute;mon has over six hundred
            creatures to draw porn of, each filled with in-game mechanical data to cross-reference with.
        </p>
        <p>
            So let's start charting. First are some breakdowns of how various categories fare against each other. Then there's the full table of everything.
        </p>
        <p>
            As a bonus, the tags can be used to learn about the relative sexuality of Pok&eacute;porn - so if you've ever asked "Mirror, mirror, on the wall, who's <a href="breakdowns.html#most-gay">the gayest of them all</a>?", now you can find out!
        </p>
        <p>
            Or maybe you're more interested in what Pok&eacute;mon had <a href="breakdowns.html#this-month">the most porn last month</a>?
        </p>
        <p>
            Perhaps you're just interested in seeing the distribution, visually, as <a href="linecharts.html">a line chart</a>. That can be done, too!
        </p>
    </div>
    <div class="span2 hero-unit" style="background-color: #EACCDB; border-color: #EDB1CF; color: black; text-align: center">
        <h3>More interested in My Little Pony?</h3><br>
        <a href="/mlp/index.html">Check out the Ponystats</a>!
    </div>
</div>
{% endblock %}
